.subpanel {
    display: inline-block;
}

/* The container must be positioned relative: */
.chilli-list something {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.mainpanel {
    width: 540px;
    height: 110px;
    background-color: pink;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.subpanel select {
    background: #0563af;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
    -webkit-appearance: button;
}

.subpanel input {
    background: #b5c6d4;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
}